/*  */
html{font-size: 62,5%;}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;

}

.grilla{
  display: grid;
  grid-template-rows:  90px 70px 500px 225px 225px 225px 100px;
  grid-template-columns: repeat (auto-fill,1fr ) ;
  grid-template-areas:
  "logo logo logo titulo titulo titulo titulo busca busca busca "
  "menu menu menu menu menu menu menu menu menu menu "
  "grantexto  grantexto  grantexto  grantexto  granimagen granimagen granimagen granimagen granimagen granimagen "
  "carnetex carnetex carnetex carnetex  carneimg carneimg carneimg carneimg carneimg carneimg "
  "pastatex pastatex pastatex pastatex pastaimg pastaimg pastaimg pastaimg pastaimg pastaimg "
  "verduratex verduratex verduratex verduratex verduraimg verduraimg verduraimg verduraimg verduraimg verduraimg "
  "pie pie pie pie pie pie pie pie pie pie ";


  }
  .containerlogo{
    grid-area: logo;
    /* border: solid black; */
    display: inline;
    background-color: blue;

  }
  .imglogo{
    height: 85px;
    width: 85px;
  }
  
  .containertitulo{
    grid-area: titulo;
    display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
    background-color: blue;
    /* border: solid black; */
  }
  

  .containerbusca{
    grid-area: busca;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
  
    padding-right: 30px;   
    background-color: blue;
  }
  .buscador{
    width: 150px;
  }
  
  h1{
    display: inline;
    font-size: 28px;
  }

  .menu{
    grid-area: menu;
    background-color: rgb(231, 223, 240);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .menu nav li{
    display: inline;
    padding: 20px;
    
  }

  .menu nav li a{
  font-size: 20px;
  text-decoration: solid;

  }



.textogrande{
    grid-area: grantexto;
    display: flex;
    align-items:center;
    background-color: rgb(190, 142, 235);
    width: 100%;
         

}


.ubicatexto{
    /* border: solid black; */
    height:fit-content;
    padding: 30px;
}


.imagengrande{
    grid-area: granimagen;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(190, 142, 235);
}

.imggran{
width: 590px;
height: 500px;

}

/* ------------------------------------------------------------------------------ */
.textocarnesec{
    grid-area: carnetex; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    background-color: rgb(190, 142, 235);

 }

  
  .imagencarnesec{
    grid-area:carneimg ;
    display: flex;
    justify-items: flex-start;
    /* border: solid black; */
    background-color:rgb(190, 142, 235); 
   
  }

.textopastasec{
    grid-area: pastatex;      
    display: flex; 
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    justify-items: center;
    background-color: rgb(190, 142, 235);
 
   
 }
 .imagenpastasec{
    grid-area:pastaimg ;
    display: flex;
    justify-items: flex-start;
    /* border: solid black; */
    background-color:rgb(190, 142, 235); }

   .textoverdurasec{
    grid-area: verduratex;
    display: flex; 
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    justify-items: center;
    background-color: rgb(190, 142, 235);

    }

   .imagenverdurasec{
    grid-area:verduraimg ;
    display: flex;
    justify-items: flex-start;
    background-color:rgb(190, 142, 235); }

    .sectiontextosec{
      margin-left: 50px;
      margin-right: auto;
      padding-right: 50px;
      width:auto;
      
     }
   
     .linksec{
      padding-left: 50px;
      padding-bottom: 15px;
      padding-top: 30px;
   
     }
   
     .imgsec{
      /* position:relative ; */
      top: 30px;
      height: 159px;
      width: 259px;
     /* border: solid black; */
  
  }
/* ------------------------PPAL------------------PPAL-------------------------------------- */







/* ------------------------------------------------------------------------------------------ */



/* -------------------------------------------------------------------------------------- */




.grillasec{
display: grid;
grid-template-rows:  80px 50px 70px 210px 420px 420px 420px 80px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas:
"logo titulo busca"
" menu menu menu"
"titulosec titulosec titulosec"
"lista lista1 lista2"
"pri sec ter"
"cuar quin sex"
"sep oct nov"
"foot foot foot";
grid-row-gap: 1px;


}



/* ------------------Fila superior encabezado */
.containerlogo{
  grid-area: logo;
  display: flex;
  background-color: blue;
}

.containertitulo{
  grid-area: titulo;
  display: flex;
 align-items: center;
 justify-content: center;
 align-content: center;
  background-color: blue;
}

.containerbuscasec{
  grid-area: busca;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  background-color: blue;
  padding-right: 30px;
}
.containerbuscareg{
  grid-area: busca;
  display: flex;
  align-items: center;
  justify-content: center;
 align-content: center;
  background-color: blue;
}
.centrabusca{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header{
  height: 50px;
  width: 150px;

  border: solid black;
  font-size: 10px;
  }


  }

  .buscador{
  height: 20px;
  width: 100px;
  background-color: brown;
  border: solid black;
  }




/* -----------------Menu paginas secundarias----------------------------------------- */


  .menusec{
    grid-area: menu;
    background-color: rgb(231, 223, 240);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .menureg{

    height: 70px;
  }

    .menusec nav li{
    display: inline;
    padding: 20px;
  }

  .menusec nav li a{
  font-size: 20px;
  text-decoration: solid;

  }

.color{
  background-color: rgb(146, 132, 161);
}




/* -----------------Titulo secundario----------------------- */

.containersubtitulo{
  grid-area: titulosec;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* background-color: cornflowerblue; */
  background: linear-gradient(217deg, rgba(255, 204, 0, 0.773), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

  }


/* ----------------bloque con lsta de recetas */

  .listarecetas{
    grid-area: lista;
    display: flex;
    background-color: rgb(197, 161, 231);
    /* background: linear-gradient(217deg, rgba(70, 153, 18, 0.8), rgba(18, 34, 3, 0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
  }
  .listarecetas1{
    grid-area: lista1;
    display: flex;
    background-color: rgb(197, 161, 231);
    /* background: linear-gradient(217deg, rgba(70, 153, 18, 0.8), rgba(18, 34, 3, 0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
  }
  .listarecetas2{
    grid-area: lista2;
    display: flex;
    background-color: rgb(197, 161, 231);
    /* background: linear-gradient(217deg, rgba(70, 153, 18, 0.8), rgba(18, 34, 3, 0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
  }

  .lista{
  height: 150px;
  width: 300px;
  /* background-color: rgb(43, 29, 96); */
  /* border: solid black; */
  margin: 5px;
  padding-top: 15px;
  padding-left: 40px;
  list-style: none;

  }


  .lista li{
  padding: 10px;
  font-size: 18px;
  padding: 5px;
  /* border: solid black; */
  }


  .lista li a{
    color:white
  }

  li{
    padding: 0px;

  }

.comtainerlista{
  grid-area: lista;

}

.cntainercarnepri{
  grid-area: pricar;

}

.containercarnesec{
  grid-area: seccar;


}
.containercarneter{
  grid-area: tercar;

}

.listaingredientes{
  list-style:none ;
  padding-left: 40px;
}

.ingredientes{
text-decoration:solid;
padding-left: 40px;

}
/* -----------------Formato de los textos e imágenes de los */
.textosec{
  height: 90px;
  width: 250px;
  padding-top: 15px;
/* background-color: blue; */
/* border: solid black; */
}

.imgsec{
  height: 194px;
  width: 259px;
/* background-color: rgb(4, 255, 0); */
/* border: solid black; */
}

h3{color: aliceblue;}
h3 a{
  color: black;
}

/* -------------Formato de los cuadros */

.pri{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: pri;
  /* background-color: blueviolet; */
  background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
  border: solid rgb(248, 245, 243);

}


.sec{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
grid-area: sec;
background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
/* background-color: blueviolet; */
border: solid rgb(248, 245, 243);

}

.ter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: ter;
  background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
  border: solid rgb(248, 245, 243);
  /* background-color: blueviolet; */
}

.cuar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
grid-area:cuar ;
/* background-color: rgb(207, 194, 229); */
background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
border: solid rgb(248, 245, 243);
}

.quin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area:quin ;
  background-color: rgb(207, 194, 229);
  background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
  border: solid rgb(248, 245, 243);

}


.sex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area:sex ;
  background-color: rgb(207, 194, 229);
  background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
  border: solid rgb(248, 245, 243);

}

.sep{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area:sep ;
  background-color: rgb(222, 219, 227);
  background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
  border: solid rgb(248, 245, 243);
}

.oct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area:oct ;
  background-color: rgb(222, 219, 227);
  background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
  border: solid rgb(248, 245, 243);
}


.nov{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area:nov ;
  background-color: rgb(222, 219, 227);
  background: linear-gradient(rgb(209, 189, 243),rgb(240, 239, 243)  );
  border: solid rgb(248, 245, 243);
}

.imgpri{
padding-top: 30px;

}

.subtitulosec{
color: rgb(39, 28, 20);
}

.preparacion{
  color: darkblue;
  font-weight: bold;
}

.footer{
grid-area: foot;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(129, 210, 122);
/* align-content: center; */
justify-content:space-between;

}
h5{
size: 1.3pc;
color: brown;

}
.iconos{
  display:flex;
  width: 140px;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.footerppal{
  grid-area: pie;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(129, 210, 122);
  /* align-content: center; */
  justify-content:space-between;
  
  }
 .h5ppal{
  font-size: 1.3pc;
  color: brown;
  
  }
  .iconosppal{
    display:flex;
    width: 140px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
  }
/* -------------------TIPS--------------------- */


.subgrilla{
  display: grid;
grid-template-rows: 100px 100px;
grid-template-columns:1 1 ;
grid-template-areas: 
"a b"
"c d";


}
/* registro */
.backregistro{

  background: linear-gradient( rgb(202, 157, 243), rgb(212, 195, 227)  );
}

.form{
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.camposformulario{
display: flex;
flex-direction: row;
background: linear-gradient( blueviolet, rgb(212, 195, 227)  );

}
.res{
  padding-top: 23px;
}

.containersubtituloreg{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: linear-gradient(110deg, rgba(255,0,0,0), rgba(255,0,0,.8) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,0), rgba(0,255,0,.8)  70.71%),
              linear-gradient(217deg, rgba(0,0,255,0) , rgba(0,0,255,.8)  90.71%);

  }
.check{
padding-right: 20px;
padding-bottom: 20px;
background: linear-gradient( blueviolet, rgb(212, 195, 227)  );

}
.colorfotos{
background: linear-gradient( blueviolet, rgb(212, 195, 227)  );


}

/* responsividad */
/* ------------------------------------------ */

/* ----------------Celular---------------------------------- */

@media screen and (max-width: 480px) {

  .grilla{
    display: grid;
    grid-template-rows:  55px 70px 320px 215px 215px 215px 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titulo"
    "menu"
    "grantexto"
    "carnetex"
    "verduratex"
    "pie"
    
    ;
  
    }




      .containertitulo{
        grid-area: titulo;
        display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      background-color: rgb(115, 255, 0) ;
        /* border: solid black; */
      }

      h1{
        font-size: 0.9em;

      }
   

      
      .imgsec{
        /* position:relative ;
        height: 110px;
        width: 181px; */
       display: none;
      /* border: solid black; */

    }
    .imagengrande{
      grid-area: granimagen;
      display: none;
      align-items: center;
      align-content: center;
      justify-content: center;
     

    }
    .imggran{

      width: 413px;
    height: 320px;
      
    }

      .textogrande{
        grid-area: grantexto;
        display: flex;
        align-items:center;
        background-color: rgb(238, 243, 239);
        width: 100%;
            

    }  
    .ubicatexto{

      font-size: 10px;
    }
    .sectiontextosec{
      font-size: 10px;
      
     }
     .imglogo{
      height: 55px;
      width:55px;
    }
    .containerlogo{
     height: 55px;
          
    }
    .containertitulo{
   height:55px;
    }
    .containerbusca{
      grid-area: busca;
      display: flex;
      
      width: 140px;
      height: 55px;
     
    }
.buscador{
  width: 120px;
  height: 18px;
  margin-left: 30px;
 
}

}
/* @media screen and (max-width: 985px) {

  .ubicatexto{

    font-size: 15px;
  }
  .textogrande{
    grid-area: grantexto;
    display: flex;
    align-items:center;
    background-color: rgb(84, 58, 14);
    width: 100%;
  }

} */
/* @media screen and (max-width: 957px) {

  .ubicatexto{

    font-size: 12px;
  }
  .textogrande{
    grid-area: grantexto;
    display: flex;
    align-items:center;
    background-color: rgb(30, 14, 84);
    width: 100%;
  }

} */